.wrapper-src {
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.wrapper-dest {
  margin: 5px;
  padding: 15px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(231, 231, 231);
}
.box {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}