.typewriter-root {
  @mixin keyboard($position: 0, $value: 0) {
    $keys: map-merge(
      (
        0: "0",
        1: "0",
        2: "0",
        3: "0",
        4: "0",
        5: "0",
        6: "10px",
        7: "10px",
        8: "10px",
        9: "10px",
      ),
      (
        $position: $value,
      )
    );
    box-shadow: 15px #{map-get($keys, 0)} 0 var(--key),
      30px #{map-get($keys, 1)} 0 var(--key),
      45px #{map-get($keys, 2)} 0 var(--key),
      60px #{map-get($keys, 3)} 0 var(--key),
      75px #{map-get($keys, 4)} 0 var(--key),
      90px #{map-get($keys, 5)} 0 var(--key),
      22px #{map-get($keys, 6)} 0 var(--key),
      37px #{map-get($keys, 7)} 0 var(--key),
      52px #{map-get($keys, 8)} 0 var(--key),
      60px #{map-get($keys, 8)} 0 var(--key),
      68px #{map-get($keys, 8)} 0 var(--key),
      83px #{map-get($keys, 9)} 0 var(--key);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  --blue: #5c86ff;
  --blue-dark: #275efe;
  --orange: #fbc56c;
  --duration: 3s;
  --key: white;

  .typewriter {
    position: relative;

    animation: typewriter-bounce var(--duration) linear infinite;
    $slide-bg: linear-gradient(0deg, var(--blue), var(--blue-dark));
    $slide-width: 100px;
    $slide-height: 25px;

    .typewriter__slide {
      $lft-rgt-width: $slide-height * 0.5;
      $lft-rgt-height: $slide-height * 0.2;
      $lft-lft-width: $lft-rgt-height;
      $lft-lft-height: $slide-height * 0.8;

      $rgt-lft-width: $slide-height * 0.25;
      $rgt-lft-height: $slide-height * 0.5;
      $rgt-rgt-width: $slide-height * 0.3;
      $rgt-rgt-height: $slide-height * 0.8;

      position: absolute;
      left: 50%;
      top: -$slide-height;
      width: $slide-width;
      height: $slide-height;
      border-radius: 3px;
      background: $slide-bg;

      animation: slide var(--duration) linear 0s infinite normal none;

      /* left */
      &::before {
        position: absolute;
        content: "";
        background-color: var(--orange);
        width: $rgt-lft-width;
        height: $rgt-lft-height;
        left: $slide-width;
        top: ($slide-height - $rgt-lft-height) * 0.5;
      }

      /* right */
      &::after {
        position: absolute;
        content: "";
        background-color: var(--orange);
        left: $slide-width + $rgt-lft-width;
        top: ($slide-height - $rgt-rgt-height) * 0.5;
        width: $rgt-rgt-width;
        height: $rgt-rgt-height;
        border-radius: 4px;
      }

      i {
        position: absolute;
        content: "";
        display: block;
        background-color: var(--orange);
        width: $lft-rgt-width;
        height: $lft-rgt-height;
        left: -$lft-rgt-width;
        top: $slide-height * 0.2;

        &::before {
          position: absolute;
          content: "";
          display: block;
          background-color: var(--orange);
          top: -$lft-lft-height * 0.2;
          width: $lft-lft-width;
          height: $lft-lft-height;
          border-radius: 2px;
        }
      }
    }

    .typewriter__paper {
      $paper-color: rgb(236, 236, 236);
      $paper-width: 50px;
      $paper-height: 50px;
      $wordline-width: $paper-width * 0.8;
      $wordline-thickness: 5px;
      $wordline-gap: 14px;
      $wordline-color: rgb(197, 197, 197);

      position: absolute;
      left: $paper-width * 0.2;
      top: 0;
      border-radius: 5px;
      width: $paper-width;
      height: $paper-height;
      background-color: $paper-color;
      overflow: hidden;

      animation: paper var(--duration) linear 0s infinite normal none;

      &::before {
        position: absolute;
        content: "";
        width: $wordline-width;
        height: $wordline-thickness;
        top: $wordline-gap * 0.5;
        left: 0.5 * ($paper-width - $wordline-width);
        background-color: $wordline-color;
        border-radius: 2px;
        // overflow: hidden;
        box-shadow: 0px #{$wordline-gap} #{$wordline-color},
          0px #{2 * $wordline-gap} #{$wordline-color},
          0px #{3 * $wordline-gap} #{$wordline-color},
          0px #{4 * $wordline-gap} #{$wordline-color};
      }
    }

    .typewriter__keyboard {
      $keyboard-width: 120px;
      $keyboard-height: 60px;
      $keyboard-bg: linear-gradient(135deg, var(--blue), var(--blue-dark));

      width: $keyboard-width;
      height: $keyboard-height;
      position: relative;
      z-index: 1;
      perspective: 200px;

      &::before {
        content: "";
        position: absolute;
        width: $keyboard-width;
        height: $keyboard-height;
        background: $keyboard-bg;
        transform: rotateX(30deg);
        transform-origin: 50% 0%;
        border-radius: 4px;
      }

      &::after {
        content: "";
        position: absolute;
        top: $keyboard-height * 0.3;
        left: $keyboard-width * 0.01;
        width: $keyboard-width * 0.1;
        height: $keyboard-height * 0.1;
        border-radius: 2px;

        @include keyboard;
        animation: keyboard var(--duration) linear infinite;
      }
    }

    @keyframes typewriter-bounce {
      85%,
      92%,
      100% {
        transform: translateY(0);
      }
      89% {
        transform: translateY(-4px);
      }
      95% {
        transform: translateY(2px);
      }
    }

    @keyframes slide {
      5% {
        transform: translateX(0);
      }
      15%,
      30% {
        transform: translateX(-#{$slide-width * 0.2});
      }
      40%,
      55% {
        transform: translateX(-#{$slide-width * 0.3});
      }
      65%,
      70% {
        transform: translateX(-#{$slide-width * 0.5});
      }
      80%,
      89% {
        transform: translateX(-#{$slide-width * 0.8});
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes paper {
      // 5% {
      //   transform: translateY(46px);
      // }
      20%,
      30% {
        transform: translateY(-12px);
      }
      40%,
      55% {
        transform: translateY(-22px);
      }
      65%,
      70% {
        transform: translateY(-32px);
      }
      80%,
      85% {
        transform: translateY(-40px);
      }
      92%,
      100% {
        transform: translateY(0);
      }
    }

    @keyframes keyboard {
      5%,
      12%,
      21%,
      30%,
      39%,
      48%,
      57%,
      66%,
      75%,
      84% {
        @include keyboard;
      }
      9% {
        @include keyboard(0, 2px);
      }
      18% {
        @include keyboard(3, 2px);
      }
      27% {
        @include keyboard(6, 12px);
      }
      36% {
        @include keyboard(8, 12px);
      }
      45% {
        @include keyboard(5, 2px);
      }
      54% {
        @include keyboard(1, 2px);
      }
      63% {
        @include keyboard(9, 12px);
      }
      72% {
        @include keyboard(2, 2px);
      }
      81% {
        @include keyboard(7, 12px);
      }
    }
  }
}
