$primary-color-light: rgb(245, 250, 255);
$primary-color: rgb(31, 123, 228);
$primary-color-dark: rgb(0, 52, 110);
$gray-color-light: rgb(244, 244, 244);
$text-color: rgb(45, 45, 45);
$text-color-light: rgb(136, 136, 136);
