@import "@/widgets/global.module.scss";

.post {
  * {
    margin: 0;
    padding: 0;
  }
  color: $text-color;

  .heading {
    font-weight: 400;
    margin: 4px 0 16px 0;
    color: rgb(0, 52, 110);
    letter-spacing: 0.5px;

    &.h2 {
      margin-top: 40px;
    }

    &.h3 {
      margin-top: 20px;
    }

    .codespan {
      font-size: inherit;
    }
  }

  .paragraph {
    color: $text-color;
    font-size: 16px;
    line-height: 150%;
    margin: 16px 0;
  }

  .list {
    color: $text-color;
    font-size: 16px;
    margin: 16px 0 16px 32px;

    & > li {
      line-height: 150%;
    }
  }

  .codespan {
    font-size: 12px;
    background-color: $gray-color-light;
    padding: 2px 4px;
    border-radius: 2px;
  }

  .strong {
    color: $text-color;
    font-size: 16px;
    font-weight: 600;
  }

  .link {
    text-decoration: none;
    color: $primary-color;
    transition: color 0.2s;

    &:hover {
      color: $primary-color-dark;
    }
  }

  .blockQuote {
    background-color: $primary-color-light;
    color: $text-color-light;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
  }

  .image {
    max-width: 100%;
  }

  .wrapperSandpack {
    margin: 10px 0;
  }
}
